.certifications {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex: 3;
  min-width: min(400px, 100%);
}

.stampsList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 24px 16px;
  margin-bottom: auto;
}

.certificateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
