.aboutSection {
  position: relative;
  display: flex;
  padding-block: 24px;
  background-color: var(--color-palette-dark);
  color: var(--text-white);
}

.contentWrapper {
  margin-inline: var(--inline-gutter);
  display: flex;
  flex-grow: 1;
  max-width: 1280px;
  padding: 2rem 1rem;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  width: 40%;
}

.subtitle {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 0.825rem;
  font-weight: 600;
  opacity: 0.8;
}

.paragraph {
  opacity: 0.8;
}

.certifications {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 60%;
}

.stampsList {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divider {
  height: 4px;
  width: 40px;
  margin-block: 24px;
  background-color: var(--color-palette-highlight);
}
